@model WardFormsCore.DataModel.RoleType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RoleType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RoleType1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleType1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RoleTypeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
